{:deps    {}
 :aliases {:test
           {:extra-deps
            {polylith-kaocha/kaocha-runner
             {:git/url   "https://github.com/imrekoszo/polylith-kaocha"
              :git/tag   "v0.8.2"
              :git/sha   "d1fcd40"
              :deps/root "projects/kaocha-runner"}}}}}
