{:top-namespace "makejack"
 :interface-ns "api"
 :default-profile-name "default"
 :compact-views #{}
 :vcs {:name "git"
       :auto-add false}
 :tag-patterns {:stable "stable-*"
                :release "v[0-9]*"}
 :projects {"development" {:alias "dev"}
            "build" {:alias "build"}
            "makejack-jar" {:alias "jar"}}}
