{:deps
 {ageneau/keepachangelog        {:mvn/version "0.1.0"}
  babashka/fs                   {:mvn/version "0.1.0"}
  io.github.clojure/tools.build {:git/tag "v0.6.6" :git/sha "4d41c26"}
  org.clojure/clojure           {:mvn/version "1.10.3"}
  org.clojure/tools.reader      {:mvn/version "1.3.6"}
  polylith/clj-api
  {:git/url   "https://github.com/polyfy/polylith.git"
   :sha       "57e0217762c166a92b007736c198d100642e22c1"
   :deps/root "projects/api"}
  rewrite-clj/rewrite-clj       {:mvn/version "1.0.699-alpha"}
  makejack/tasks                {:local/root "../../bases/tasks"}
  makejack/changelog            {:local/root "../../components/changelog"}
  makejack/dag                  {:local/root "../../components/dag"}
  makejack/defaults             {:local/root "../../components/defaults"}
  makejack/deps                 {:local/root "../../components/deps"}
  makejack/file-changed         {:local/root "../../components/file-changed"}
  makejack/file-hash            {:local/root "../../components/file-hash"}
  makejack/file-info            {:local/root "../../components/file-info"}
  makejack/files                {:local/root "../../components/files"}
  makejack/filesystem           {:local/root "../../components/filesystem"}
  makejack/git                  {:local/root "../../components/git"}
  makejack/jarfile              {:local/root "../../components/jarfile"}
  makejack/namespace            {:local/root "../../components/namespace"}
  makejack/poly                 {:local/root "../../components/poly"}
  makejack/project-data         {:local/root "../../components/project-data"}
  makejack/target-doc           {:local/root "../../components/target-doc"}
  makejack/verbose              {:local/root "../../components/verbose"}}


 :tools/usage {:ns-default makejack.tasks}

 :aliases
 {:test {:extra-paths []
         :extra-deps  {}}
  :build
  {:deps
   {makejack/tasks {:local/root "../../bases/tasks"}}
   :ns-default build
   :jvm-opts   ["-Dclojure.main.report=stderr"]
   }}}
