{:paths   ["src"]
 :deps    {makejack/filesystem {:local/root "../filesystem"}
           makejack/path       {:local/root "../path"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {}}}}
