{:paths ["src"]
 :deps  {babashka/fs {:mvn/version "0.1.0"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps  {io.github.clojure/tools.build
                 {:git/tag "v0.6.2" :git/sha "226fb52"}}}
  :build
  {:deps
   {makejack/build {:local/root "../../bases/build"}
    makejack/tasks {:local/root "../../bases/tasks"}
    }
   :ns-default makejack.build.targets
   :exec-fn    help
   :jvm-opts   ["-Dclojure.main.report=stderr"]}}}
