{:paths ["src"]
 :deps  {babashka/fs {:mvn/version "0.1.0"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps  {io.github.clojure/tools.build
                 {:git/tag "v0.6.2" :git/sha "226fb52"}}}}}
