{:paths ["src"]
 :deps  {babashka/fs {:mvn/version "0.1.0"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps  {io.github.clojure/tools.build
                 {:git/tag "v0.6.6" :git/sha "4d41c26"}}}
  :build {:deps
          {makejack/tasks {:local/root "../../bases/tasks"}}
          :ns-default makejack.tasks
          :exec-fn    help
          :jvm-opts   ["-Dclojure.main.report=stderr"]}}}
